body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    background-color: rgb(20, 20, 20);
    color: white;
    align-items: center;
    text-align: center;
}

input {
    background-color: rgb(40,40,40);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px 0 0 15px;
    outline: none;
    border: 1px solid #ffffff;
    color: white;
}

button {
    background-color: rgb(40,40,40);
    padding: 10px;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 0 15px 15px 0;
    transition: ease 0.7s;
}

button:hover {
    background-color: rgb(70, 70, 70);
    cursor: pointer;
}